<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Board</title>
</head>
<body>

    <!-- Header -->
    <h1>Simple Board</h1>

    <hr>

    <!-- Search & Sort -->
    <form method="get" action="/">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>

        <br><br>

        Sort :
        <a href="?sort=latest">Latest</a> |
        <a href="?sort=oldest">Oldest</a> |
        <a href="?sort=views">Views</a> |
        <a href="?sort=title">Title</a>

        &nbsp;&nbsp;&nbsp;

        <a href="/create">
            <button type="button">Write</button>
        </a>
    </form>

    <hr>

    <!-- Post List Table -->
    <table border="1" width="100%" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th width="5%">No.</th>
                <th align="left">Title</th>
                <th width="15%">Date</th>
                <th width="10%">Views</th>
            </tr>
        </thead>
        <tbody>
            {% if posts %}
                {% for post in posts %}
                <tr>
                    <td align="center">{{ post['id'] }}</td>
                    <td>
                        <a href="/post/{{ post['id'] }}">{{ post['title'] }}</a>
                    </td>
                    <td align="center">{{ post['created_at'][:10] }}</td>
                    <td align="center">{{ post['views'] }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" align="center">No posts yet. <a href="/create">Create one!</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <br>

    <br><br>


</body>
</html>
